parameters:
  paths:
    - /src/
  level: 9
  bootstrapFiles:
    - phar://PocketMine-MP.phar/vendor/autoload.php
  scanDirectories:
    - /src
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
